pyTelegramBotAPI>=4.0.0
transformers>=4.30.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0+cpu
azure-functions>=1.13.0
azure-core>=1.29.0
azure-storage-blob>=12.17.0
azure-storage-queue>=12.9.0
python-dotenv>=1.0.0
tzdata>=2024.1
